body {
  margin: 0;
  padding: 0;
  background-color: rgb(180, 233, 240);
}
.container {
  display: grid;
  /* grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px 120px 150px; */
  grid-template-columns: 1fr 2fr 1fr;

  /* if multiple column needed
  grid-template-columns: repeat(12, 1fr); */
  grid-template-rows: 1fr 2fr 1fr;
  /* grid-row-gap: 10px;
  grid-column-gap: 10px; */
  grid-gap: 10px;
}
.div1 {
  background-color: aqua;
}
.div2 {
  background-color: rgb(8, 8, 8);
}
.div3 {
  background-color: rgb(235, 235, 235);
}
.div4 {
  background-color: rgb(11, 69, 80);
}
.div5 {
  background-color: rgb(219, 216, 47);
}
.div6 {
  background-color: rgb(63, 187, 32);
}
.div7 {
  background-color: rgb(161, 59, 122);
}
.div8 {
  background-color: rgb(42, 32, 136);
}
.div9 {
  background-color: rgb(55, 78, 78);
}
